GEOAPIFY_API_KEY="fa0f7a9e8a534d9cb4444670fddba5c1"
OPENAI_API_KEY="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"
